.header {
    padding-left: 50px;
}

.mainWrapper {
    background-color: #fff7fd;
    padding: 30px;
    margin: 30px;
    margin-top: 0px;
    border-radius: 25px;
    border: solid 2px #8dc181;
}

.buttons {
    padding-left: 50px;
    padding-top: 30px;
}

.button {
    background-color: #8dc181;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
 .button:focus { background-color:orange; }

.plotwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
 }

 #pieChart {
     padding: 0px;
 }

 .innerPlotWrapper {
     margin: 10px;
     padding: 10px;
    /* text-align: center;  */
    background-color: white;
    border-radius: 15px;
    border: solid 2px #8dc181;
    position: relative;
 }
 .bigPlotwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

 }
 .checkins {
     padding: 5px; 
    text-align: center;
 }
 .attractions {
    padding: 5px; 
    text-align: center;
 }
 .btn1 {
    position: absolute;
    background-color: #69b3a2;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transform: translate(-360px, 100px);
 }
 .btn1:hover {
    background-color: orange;
  }

  .btn2 {
    position: absolute;
    background-color: #69b3a2;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transform: translate(-143px, -29px);
 }
 .btn2:hover {
    background-color: orange;
  }

  .btn3 {
    position: absolute;
    background-color: #69b3a2;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transform: translate(-10px, 61px);
 }
 .btn3:hover {
    background-color: orange;
  }

 .image {
     padding-top: 10%;
 }
 div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}